.signup {
    border: 2px solid transparent; 
    border-image: linear-gradient(to right, rgba(132, 43, 163, 1), rgba(255, 39, 117, 1)) 1;
    border-radius: 10px;
  }

  .wave{
    background-image: url('./assets/wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }


  .mainpage-bg{
    /* background: url('./assets/bg-image.jpg'); */
    /* height: 452px; */
    background-size:contain;
    background-repeat: no-repeat;
  }

  .new{
    /* border: 1px solid red; */
    display: flex;
    width: 57%;
    text-align: center;
    /* justify-content: space-between; */
  }


  

  /* @media (min-width: 640px) {
    .wave {
      background-size: auto;
      height: 500px;
    }
  }
  
  @media (min-width: 768px) {
    .wave {
      background-size: cover; 
    }
  } */